<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <style>
        .color_red {
            color:red;
        }

        .color_verde {
            color: green;
        }
    </style>
    <body>
        <h1 style="color:green;">APRENDIENDO VUE</h1>
        <div id="app">
           <p>{{ saludar }}</p>

           <!-- LA DIRECTIVA SOLO FUNCIONA SI v-show ESTA DENTRO Y ES TRUE, EN LA INSTANCIA VUE.JS -->
           <h3 style="color:red;">DIRECTIVA -----> v-show</h1>
           <p v-show="numero <= 10">Texto solo si activo = true</p>

           <h3 style="color:red;">DIRECTIVA ---> v-if - condicional</h3>
           <p v-if="activo === true">Si es activo</p>
           <p v-else>No es activo</p>

           <h3 style="color:red;">DIRECTIVA -------> V-FOR---> DIRECTIVAS PARA SENTENCIAS REPETITIVAS</h3>

           <ul>
               <li v-for="numero in lista"> Numero: {{ numero }}</li>
               <li v-for="n in 5" :key="n"> Numero: {{ n }}</li>
           </ul>

           <h3 style="color:red;">DIRECTIVA -------> v-html----->DIRECTIVA PARA PINTAR html</h3>
           <p v-html="blog"></p>

           <h3 style="color:red;">BINDING</h3>
           <p>
               <input type="text" v-model="texto">
           </p>
           
           <p>{{ texto }}</p>

           <!--EVENTOS Y FUNCIONES  -->
           <h3 style="color:red;">EVENTOS Y FUNCIONES</h3>
           <button @click="saludando('saludo desde el html')">Saludar</button>

           <p></p>
           <input type="text" name="" id="" placeholder="Nombres" v-model="full_name">
           <a href="#" @click="verificarFullName()">Verificar nombres</a>
           <p style="color: green;">{{ validation_error }}</p>


           <!--BINDING DE CLASES  -->

           <h3 style="color:red;">BINDING DE CLASES</h3>
           <label for="nombre" :class=" { color_verde:text_success, color_red:text_error}">Nombres:
            </label>
            <input type="text" v-model="nombre">
            <button @click="verificarNombre()" type="">Comprobar</button>

            <!--BINDING DE STYLES  -->

           <h3 style="color:red;">BINDING DE STYLES</h3>
           <!-- <label for="nombre" :class=" { color_verde:text_success, color_red:text_error}">Nombres:
            </label> -->
            <input type="text" v-model="sizetext">
            <button @click="cambiarTexto()" type="">Cambiar Tamanio</button>
            <p :style= " {fontSize: font_texto + 'px'}">Curso Vue.js</p>
        </div>

        <script type="text/javascript" src="vue.js"></script>
        <script type="text/javascript" src="practica.js"></script>
       
    </body>
</html>